@model IEnumerable<WebApplication1.Models.ZipCodes>



<h1>
    @Html.DisplayNameFor(model => model.zip)
</h1>


@foreach (var item in Model)
{ 
    <div class="zips">

        <input type="checkbox" class="checkbox">
        <div class="zip">
            @Html.DisplayFor(modelItem => item.zip)
        </div>
        <div>
            |
        </div>
    </div>

@*<div class="row">
     <div class="col-4 col-md-2">
             @Html.DisplayFor(modelItem => item.zip)
         </div>
    </div>*@

}

